.founder-img {
    position: relative;
    width: 600px;
    height: 500px;
    left: 30%;
}

.about button {
    width: 150px;
    height: 50px;
    background-color: #00923d;
    border-radius: 5px;
    border-width: 0px;
    color: white;
    font-size: 25px;
    position: relative;
    left: 45%;
}

.about {
    display: table;
    margin: 0 auto;
}