.carousel {
    padding-top: 70px;
    position: relative;
    max-width: 100%;
    margin: auto;
    overflow: hidden; 
    text-align: center;
}

.carousel-image {
    width: 100%;
    max-height: 500px;
    object-fit: cover;
}

.carousel-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: #FFF;
    border: none;
    color:#FFF;
    padding: 10px;
    cursor: pointer;
    font-size: 15px;
}

.carousel-button.prev {
    left: 10px;
}

.carousel-button.next {
    right: 10px;
}

